.body {
    background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    background-color: lightpink;
    padding: 10px;
}

.links {
    background-color: lightblue;
    padding: 50px;
}

.image {
    border-radius: 50%;
}